.berita {
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #ffffff;
    $b-r: 8px;

    .card {
        border: none;
        cursor: pointer;
    }

    .title {
        font-size: 20px;
        margin-top: 10px;
        font-weight: bolder;
        margin-bottom: 50px;

        span {
            padding: 8px 20px;
            background-color: $bg-color;
            font-weight: 500;
            color: white;
        }

        .acos {
            border-radius: $b-rs;
        }

        .iconw {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-top-left-radius: $b-rs;
            border-bottom-left-radius: $b-rs;
            background-size: 63%;
            background-color: lighten($bg-color, 4) !important;
            position: relative;
            left: -20px;
            height: 2px;
            width: 2px;
        }
    }

    .post-1 {
        .card {
            cursor: pointer;
            color: white;
            height: 340px;
            width: 100%;
            overflow: hidden;
            border-radius: 7px;
            transition: all 1.5s;
            z-index: 2;
            box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.15) !important;

            .card-body {
                background: linear-gradient(to bottom, #02964c75, #02964c00);
                padding: 40px 40px;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                z-index: 3;
            }

            img {
                transition: all 0.5s;
                width: 100%;
                z-index: 1;
            }

            h6 {
                font-size: 20px;
                font-weight: 600;
            }

            p {
                font-size: 15px;
            }
        }


        a {
            text-decoration: none;
            transition: all 1s;
    
            &:hover {
                .card-body {
                    background: linear-gradient(to bottom, #02964c4d, #02964c00) !important;
                }
    
                img {
                    transform: scale(1.1);
                }
            }
        }
    }

    .post-2 {

        .card {
            height: 340px;
            width: 100%;
            overflow: hidden;
            border-radius: $b-r;

            &:hover {

                img {
                    border-top-left-radius: $b-r;
                    border-top-right-radius: $b-r;
                    transform: scale(1.1);
                }

                .card-body {
                    background-color: lighten($bg-color, 9%);
                    color: white;
                }
            }

            .card-body {
                transition: all 1s;
                background-color: white;
                color: $bg-color;
                z-index: 7;
                padding: 28px 0px 10px 30px;
            }

            p {
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 7px;
            }

            h6 {
                font-size: 16px;
                font-weight: 600;
            }
        }

        img {
            border-top-left-radius: $b-r;
            border-top-right-radius: $b-r;
            transition: all 0.5s;
            width: 340px;
            z-index: 1;
        }
    }

    .post-3 {
        .card {
            height: 340px;

            .card-body {
                transition: all 1s;
                background-color: white;
                color: $bg-color;
                z-index: 7;
                border-radius: $b-r;
                padding: 45px 30px 0px 30px;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 7px;
                color: black;

                &.ttl {
                    color: $bg-color;
                    font-size: 12px;
                    font-weight: 500;
                }
            }

            h6 {
                margin-top: 12px;
                margin-bottom: 15px;
                font-size: 20px;
                font-weight: 600;
            }

            &:hover {
                .card-body {
                    background-color: lighten($bg-color, 9%);
                    color: white !important;
                }

                p,
                h6 {
                    color: white !important;
                }
            }
        }
    }

    .post-lain {
        .card {
            height: 250px;
            width: 100%;
            overflow: hidden;
            border-radius: $b-r;

            &:hover {

                img {
                    border-top-left-radius: $b-r;
                    border-top-right-radius: $b-r;
                    transform: scale(1.1);
                }

                .card-body {
                    background-color: lighten($bg-color, 9%);
                    color: white;

                    h6,
                    p {
                        color: white !important;
                    }
                }
            }

            .card-body {
                transition: all 1s;
                background-color: white;
                color: black;
                z-index: 7;
                padding: 17px 20px 10px 20px;
            }

            p {
                position: absolute;
                bottom: 0;
                font-size: 11px;
                font-weight: 500;
                margin-bottom: 7px;
                color: rgb(102, 102, 102);
            }

            h6 {
                font-size: 14px;
                font-weight: 600;
            }
        }

        img {
            border-top-left-radius: $b-r;
            border-top-right-radius: $b-r;
            transition: all 0.5s;
            width: 210px;
            z-index: 1;

            &.agaklain {
                width: 250px;
            }
        }
    }

    .post-lainya {
        .card {
            border-radius: $b-r;
            height: 250px;
            width: 100%;
            position: relative;
            background-color: white;
            transition: all 0.5s;

            .card-body {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                line-height: 1;

                h6 {
                    font-size: 22px;
                    color: rgb(102, 102, 102);
                }
            }

            &:hover {
                background-color: lighten($bg-color, 9%);
                color: white !important;

                p,
                h6 {
                    color: white !important;
                }
            }
        }
    }

    .lainya-m {
        display: none;
    }

    a {
        text-decoration: none;
        transition: all 0.5s;
    }
}