@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Public Sans", sans-serif !important;
}

.ml-auto {
  margin-left: auto;
}

section {
  overflow: hidden;
}

/* Menyesuaikan scrollbar untuk semua elemen */
::-webkit-scrollbar {
  width: 4px; /* Lebar scrollbar */
  height: 500px;
}

/* Menyesuaikan track (track adalah area di sekitar thumb) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Warna latar belakang scrollbar */
}

/* Menyesuaikan thumb (thumb adalah bagian yang dapat digerakkan) */
::-webkit-scrollbar-thumb {
  background-color: #bebebe; /* Warna thumb */
  border-radius: 3px; /* Mengatur sudut border */
}

/* Menyesuaikan thumb saat dihover */
::-webkit-scrollbar-thumb:hover {
  background-color: #bebebe; /* Warna thumb saat dihover */
}

header.topbar {
  position: fixed;
  width: 100%;
  z-index: 9999;
}
header.topbar .navbar-primary {
  font-weight: 700;
  font-size: 12px;
  color: #03753c !important;
  height: 80px;
  transition: all 0.7s;
}
header.topbar .navbar-primary .navbar-brand img {
  width: 240px !important;
}
header.topbar .navbar-primary .navbar-nav .nav-link {
  margin-left: 15px;
  color: white;
  text-transform: capitalize;
  position: relative;
}
header.topbar .navbar-primary .navbar-nav .nav-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  height: 3px;
  background-color: #ffc107;
  border-radius: 10px;
}
header.topbar .navbar-primary .navbar-nav .nav-link:hover {
  color: #6c757d !important;
}
header.topbar .navbar-primary .navbar-nav .active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  height: 3px;
  background-color: #ffc107;
  border-radius: 10px;
}
header.topbar .navbar-primary .navbar-nav .active {
  color: #cacaca;
}
header.topbar .navbar-primary .navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}
header.topbar .navbar-primary .dropdown-mega .dropdown-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  z-index: 1000;
  border: none;
  padding-top: 30px;
  background-color: transparent;
}
header.topbar .navbar-primary .dropdown-mega .dropdown-menu .mega-content {
  background-color: white;
  padding: 30px 10px 40px 10px;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 8px;
  border: none;
  position: relative;
}
header.topbar .navbar-primary .dropdown-mega .dropdown-menu .mega-content .bg-nav {
  background: linear-gradient(to bottom, #037a3f, #048e49);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 10px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}
header.topbar .navbar-primary .dropdown-mega .dropdown-menu .mega-content .list-group,
header.topbar .navbar-primary .dropdown-mega .dropdown-menu .mega-content .list-group-item {
  border: none;
  background-color: transparent;
}
header.topbar .navbar-primary .dropdown-mega .dropdown-menu .mega-content .list-group-item {
  margin-bottom: 3px;
}
header.topbar .navbar-primary .dropdown-mega .dropdown-menu .mega-content .top {
  color: #026132;
  font-size: 19px;
  font-weight: bolder;
}
header.topbar .navbar-primary .dropdown-mega .dropdown-menu .mega-content .second {
  font-weight: 500;
  font-size: 14px;
  margin-left: 5px;
  color: #6c757d;
}
header.topbar .navbar-primary .dropdown-mega .dropdown-menu .mega-content .second:hover span::after {
  content: "";
  position: absolute;
  left: 10px;
  width: 50%;
  bottom: -1px;
  height: 3px;
  background-color: #ffc107;
  border-radius: 10px;
}
header.topbar .navbar-secodary {
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: white !important;
  height: 45px;
  transition: all 0.7s;
}
header.topbar .navbar-secodary .navbar-nav .nav-link {
  padding: 11px 16px;
  color: white;
  font-size: 12px;
  font-weight: 300;
}
header.topbar .navbar-secodary .navbar-nav .nav-link-p:hover {
  background-color: #038a46;
  border-bottom: 2px solid #ffffff;
}
header.topbar .navbar-secodary .navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
header.topbar .navbar-secodary .navbar-nav .dropdown img {
  width: 20px;
  border-radius: 9px;
  margin-top: -2px;
  margin-right: 5px;
}
header.topbar .navbar-secodary .navbar-nav .dropdown .dropdown-menu {
  background-color: #03753c;
  min-width: 10px !important;
  border: 3px solid white;
  margin-left: 10px;
  margin-top: -2px;
}
header.topbar .navbar-secodary .navbar-nav .dropdown .dropdown-menu li,
header.topbar .navbar-secodary .navbar-nav .dropdown .dropdown-menu .dropdown-item {
  height: 20px;
  padding: 0px 5px !important;
  font-size: 12px !important;
  margin: -5px 0;
}
header.topbar .navbar-secodary .navbar-nav .dropdown .dropdown-menu li :hover,
header.topbar .navbar-secodary .navbar-nav .dropdown .dropdown-menu .dropdown-item :hover {
  background-color: #03753c;
}
header.topbar .navbar-secodary .navbar-nav .dropdown .dropdown-menu li .dropdown-item {
  color: white !important;
}
header.topbar .navbar-secodary .navbar-nav .icon {
  font-size: 18px;
  color: white;
}
header.topbar .navbar-secodary .navbar-nav .vr {
  margin-left: 15px;
  border: solid 1px rgb(54, 54, 54);
  margin-top: 8px;
  margin-bottom: 8px;
}

header.topbar:hover .navbar-secodary,
.navbar-active .navbar-secodary {
  background-color: #03753c;
}
header.topbar:hover .navbar-primary,
.navbar-active .navbar-primary {
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
header.topbar:hover .navbar-primary .nav-link,
.navbar-active .navbar-primary .nav-link {
  color: #03753c !important;
}
header.topbar:hover .navbar-primary .active,
.navbar-active .navbar-primary .active {
  color: #6c757d !important;
}

@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}
.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.mobile-nav, .mobile-menu {
  display: none;
}

header.video-overlay {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
header.video-overlay video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
header.video-overlay .container {
  position: relative;
  z-index: 2;
}
header.video-overlay .container img {
  margin-top: 50px;
  width: 180px;
}
header.video-overlay .container .title {
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-top: -5px;
}
header.video-overlay .container .info {
  margin-top: 35px;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
header.video-overlay .container .mouse {
  position: absolute;
  color: white;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
}
header.video-overlay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.about {
  position: relative;
  padding-top: 50px;
  margin-bottom: -250px;
  background-color: #f8f8f8;
}
.about::before, .about::after {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}
.about::before {
  top: -150px;
  left: 86%;
  width: 400px;
  height: 400px;
  background-image: url("https://konten.usu.ac.id/storage/satker/0/icons/extra-circular.svg");
}
.about::after {
  top: 540px;
  left: -100px;
  width: 270px;
  height: 270px;
  background-image: url("https://konten.usu.ac.id/storage/satker/0/icons/extra-pixel.svg");
}
.about .photo-1 {
  border-radius: 10px;
  height: 600px;
  width: 600px;
  left: 200px;
  position: relative;
  background-image: url("../img/a-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.about .photo-2 {
  height: 360px;
  width: 300px;
  top: -300px;
  right: 0px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  border: 20px solid white;
  background-color: white;
  z-index: 2;
}
.about .photo-2 .background-image {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-image: url("../img/a-2.jpeg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.about .info {
  margin-top: 140px;
}
.about .info h2 {
  font-size: 34px;
  font-weight: bolder;
}
.about .info h6 {
  margin-top: 30px;
  font-size: 16px;
}
.about .info .btn {
  padding: 7px 20px;
  font-weight: bolder;
  font-size: 15px;
  color: rgb(90, 90, 90);
}
.about .info .btn .icon {
  transition: all 0.5s;
  margin-left: 3px;
  font-size: 14px;
}
.about .info .btn:hover {
  color: black;
}
.about .info .btn:hover .icon {
  margin-left: 9px;
}

.pascasarjana {
  padding: 50px 0;
  padding-bottom: 100px;
  background-color: #f8f8f8;
  position: relative;
}
.pascasarjana .bg-warna {
  position: absolute;
  background: linear-gradient(to top, #04934b, #05b65d);
  width: 100%;
  height: 140px;
  top: 5px;
}
.pascasarjana .card {
  height: 200px;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  border: none;
  transition: all 1s;
  margin-bottom: 10px;
  z-index: 2;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.15) !important;
}
.pascasarjana .card .card-body {
  background-color: rgba(255, 254, 250, 0.9529411765);
  transition: all 1s;
  padding: 40px 70px;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 3;
}
.pascasarjana .card .card-body h4 {
  font-size: 16px;
  color: #03753c !important;
}
.pascasarjana .card .card-body h4 i {
  margin-right: 10px;
}
.pascasarjana .card .card-body p {
  font-size: 14px;
  color: grey;
  text-align: justify;
}
.pascasarjana .card img {
  transition: all 1.5s;
  width: 100%;
  z-index: 1;
}
.pascasarjana a {
  text-decoration: none;
}
.pascasarjana a:hover .card-body {
  background-color: rgba(50, 180, 113, 0.8470588235);
}
.pascasarjana a:hover .card-body h4,
.pascasarjana a:hover p {
  color: white !important;
  z-index: 3;
}
.pascasarjana a:hover img {
  transform: scale(1.2);
}

.penelitian {
  position: relative;
  padding-top: -120px;
  background-color: #f8f8f8;
}
.penelitian .photo-1 {
  border-radius: 10px;
  height: 600px;
  width: 600px;
  left: 0px;
  position: relative;
  background-image: url("../img/pel-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.penelitian .photo-2 {
  height: 350px;
  width: 300px;
  top: -300px;
  right: -400px;
  position: relative;
  margin-bottom: -230px;
  border-radius: 10px;
  overflow: hidden;
  border: 20px solid white;
  background-color: white;
  z-index: 2;
}
.penelitian .photo-2 .background-image {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-image: url("../img/pel-2.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.penelitian .info {
  margin-top: 140px;
}
.penelitian .info h2 {
  font-size: 34px;
  font-weight: bolder;
}
.penelitian .info h6 {
  margin-top: 30px;
  font-size: 16px;
}
.penelitian .info .btn {
  padding: 7px 20px;
  font-weight: bolder;
  font-size: 15px;
  color: rgb(90, 90, 90);
}
.penelitian .info .btn .icon {
  transition: all 0.5s;
  margin-left: 3px;
  font-size: 14px;
}
.penelitian .info .btn:hover {
  color: black;
}
.penelitian .info .btn:hover .icon {
  margin-left: 9px;
}

.alumnikkn {
  margin-top: 45px;
  margin-bottom: -30px;
}
.alumnikkn .card {
  border: none;
}
.alumnikkn .card h4 span {
  background-color: #03753c;
  padding: 8px 20px;
  color: white;
  font-size: 20px;
  position: relative;
}
.alumnikkn .card .acos {
  border-radius: 2px;
}
.alumnikkn .card p {
  margin-top: 20px;
  font-size: 15px;
}
.alumnikkn .card a {
  font-size: 15px;
  color: rgb(95, 95, 95);
  text-decoration: none;
  font-weight: bolder;
}
.alumnikkn .card a .icon {
  transition: all 0.5s;
  margin-left: 3px;
  font-size: 14px;
}
.alumnikkn .card a:hover {
  color: black;
}
.alumnikkn .card a:hover .icon {
  margin-left: 9px;
}
.alumnikkn .card .iconw {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-size: 63%;
  background-color: #048946;
  left: -20px;
  height: 2px;
  width: 2px;
}

.gurubesar {
  position: relative;
  margin-top: 80px;
  background: linear-gradient(to top, #05b65d, #03753c);
  padding: 50px 0 0 0;
}
.gurubesar .card-lain-mobile {
  display: none;
}
.gurubesar::after, .gurubesar::before {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}
.gurubesar::after {
  top: 230px;
  left: 90%;
  width: 350px;
  height: 350px;
  background-image: url("https://konten.usu.ac.id/storage/satker/0/icons/circle-tra.svg");
}
.gurubesar::before {
  top: 40px;
  left: 50px;
  width: 80px;
  height: 80px;
  background-image: url("https://konten.usu.ac.id/storage/satker/0/icons/circular-tra.svg");
}
.gurubesar .card-logo {
  height: 400px;
  border: none;
  border-radius: 0;
  position: relative;
  background: linear-gradient(to top, #04934b, rgba(4, 134, 69, 0));
  color: white;
  top: 0;
  width: 330px;
  padding-left: 20px;
}
.gurubesar .card-logo .card-body span {
  color: gold;
}
.gurubesar .card-logo img {
  width: 170px;
  margin-bottom: 40px;
}
.gurubesar .card-logo h4 {
  font-size: 28px;
}
.gurubesar .card-logo h4.title {
  font-weight: bolder;
  font-size: 28px;
  text-transform: uppercase;
}
.gurubesar .card-logo p {
  margin-top: 10px;
  font-size: 13px;
  font-weight: bolder;
}
.gurubesar .card-lain {
  padding-bottom: 20px;
  padding-top: 20px;
}
.gurubesar .card-lain .card {
  background-color: transparent;
  border-radius: 4px;
  border: none;
  color: white;
  margin-top: 25px;
}
.gurubesar .card-lain .flex-grow-1 {
  margin-left: 20px !important;
  margin-bottom: -10px;
  padding: 14px 0 !important;
}
.gurubesar .card-lain .flex-grow-1 h6 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: -10px;
}
.gurubesar .card-lain .flex-grow-1 p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
}
.gurubesar .card-lain .d-flex {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: linear-gradient(to right, #037a3f, rgba(3, 117, 60, 0));
}
.gurubesar .card-lain .card-left {
  color: white;
  padding: 10px 40px;
  background: linear-gradient(60deg, rgb(255, 187, 0), gold);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.gurubesar .card-lain .card-left i {
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pengumuman {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #f8f8f8;
}
.pengumuman .title h4 {
  font-size: 20px;
  font-weight: bolder;
}
.pengumuman .title h4 span {
  background-color: #03753c;
  padding: 8px 20px;
  font-weight: 500;
  color: white;
}
.pengumuman .title h4 .acos {
  border-radius: 2px;
}
.pengumuman .title h4 .iconw {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-size: 63%;
  background-color: #048946 !important;
  position: relative;
  left: -20px;
  height: 2px;
  width: 2px;
}
.pengumuman .title a {
  padding: 7px 20px;
  font-weight: 600;
  font-size: 14px;
  color: rgb(90, 90, 90);
  text-decoration: none;
}
.pengumuman .title a .icon {
  transition: all 0.5s;
  margin-left: 3px;
  font-size: 13px;
}
.pengumuman .title a:hover {
  color: black;
}
.pengumuman .title a:hover .icon {
  margin-left: 9px;
}
.pengumuman .row {
  margin-top: 30px;
}
.pengumuman .row p {
  font-size: 12px;
  font-weight: 300;
  color: rgb(102, 102, 102);
}
.pengumuman .row h6 {
  margin-top: -10px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.pengumuman .row a {
  text-decoration: none;
}
.pengumuman .row .col {
  border-radius: 6px;
  height: 165px;
  cursor: pointer;
  padding: 30px 15px 30px 15px;
}
.pengumuman .row .col:hover {
  background-color: white;
  border-bottom: 4px solid gold;
}
.pengumuman .lainya-m {
  display: none;
}

.berita {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #ffffff;
}
.berita .card {
  border: none;
  cursor: pointer;
}
.berita .title {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bolder;
  margin-bottom: 50px;
}
.berita .title span {
  padding: 8px 20px;
  background-color: #03753c;
  font-weight: 500;
  color: white;
}
.berita .title .acos {
  border-radius: 2px;
}
.berita .title .iconw {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-size: 63%;
  background-color: #048946 !important;
  position: relative;
  left: -20px;
  height: 2px;
  width: 2px;
}
.berita .post-1 .card {
  cursor: pointer;
  color: white;
  height: 340px;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  transition: all 1.5s;
  z-index: 2;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.15) !important;
}
.berita .post-1 .card .card-body {
  background: linear-gradient(to bottom, rgba(2, 150, 76, 0.4588235294), rgba(2, 150, 76, 0));
  padding: 40px 40px;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 3;
}
.berita .post-1 .card img {
  transition: all 0.5s;
  width: 100%;
  z-index: 1;
}
.berita .post-1 .card h6 {
  font-size: 20px;
  font-weight: 600;
}
.berita .post-1 .card p {
  font-size: 15px;
}
.berita .post-1 a {
  text-decoration: none;
  transition: all 1s;
}
.berita .post-1 a:hover .card-body {
  background: linear-gradient(to bottom, rgba(2, 150, 76, 0.3019607843), rgba(2, 150, 76, 0)) !important;
}
.berita .post-1 a:hover img {
  transform: scale(1.1);
}
.berita .post-2 .card {
  height: 340px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}
.berita .post-2 .card:hover img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transform: scale(1.1);
}
.berita .post-2 .card:hover .card-body {
  background-color: #04a253;
  color: white;
}
.berita .post-2 .card .card-body {
  transition: all 1s;
  background-color: white;
  color: #03753c;
  z-index: 7;
  padding: 28px 0px 10px 30px;
}
.berita .post-2 .card p {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 7px;
}
.berita .post-2 .card h6 {
  font-size: 16px;
  font-weight: 600;
}
.berita .post-2 img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: all 0.5s;
  width: 340px;
  z-index: 1;
}
.berita .post-3 .card {
  height: 340px;
}
.berita .post-3 .card .card-body {
  transition: all 1s;
  background-color: white;
  color: #03753c;
  z-index: 7;
  border-radius: 8px;
  padding: 45px 30px 0px 30px;
}
.berita .post-3 .card p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 7px;
  color: black;
}
.berita .post-3 .card p.ttl {
  color: #03753c;
  font-size: 12px;
  font-weight: 500;
}
.berita .post-3 .card h6 {
  margin-top: 12px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}
.berita .post-3 .card:hover .card-body {
  background-color: #04a253;
  color: white !important;
}
.berita .post-3 .card:hover p,
.berita .post-3 .card:hover h6 {
  color: white !important;
}
.berita .post-lain .card {
  height: 250px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}
.berita .post-lain .card:hover img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transform: scale(1.1);
}
.berita .post-lain .card:hover .card-body {
  background-color: #04a253;
  color: white;
}
.berita .post-lain .card:hover .card-body h6,
.berita .post-lain .card:hover .card-body p {
  color: white !important;
}
.berita .post-lain .card .card-body {
  transition: all 1s;
  background-color: white;
  color: black;
  z-index: 7;
  padding: 17px 20px 10px 20px;
}
.berita .post-lain .card p {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 7px;
  color: rgb(102, 102, 102);
}
.berita .post-lain .card h6 {
  font-size: 14px;
  font-weight: 600;
}
.berita .post-lain img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: all 0.5s;
  width: 210px;
  z-index: 1;
}
.berita .post-lain img.agaklain {
  width: 250px;
}
.berita .post-lainya .card {
  border-radius: 8px;
  height: 250px;
  width: 100%;
  position: relative;
  background-color: white;
  transition: all 0.5s;
}
.berita .post-lainya .card .card-body {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  line-height: 1;
}
.berita .post-lainya .card .card-body h6 {
  font-size: 22px;
  color: rgb(102, 102, 102);
}
.berita .post-lainya .card:hover {
  background-color: #04a253;
  color: white !important;
}
.berita .post-lainya .card:hover p,
.berita .post-lainya .card:hover h6 {
  color: white !important;
}
.berita .lainya-m {
  display: none;
}
.berita a {
  text-decoration: none;
  transition: all 0.5s;
}

.layanan {
  padding-top: 50px;
  padding-bottom: 130px;
  background-color: #f8f8f8;
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.15) !important;
}
.layanan .title {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bolder;
  margin-bottom: 50px;
}
.layanan .title span {
  padding: 8px 20px;
  background-color: #03753c;
  font-weight: 500;
  color: white;
}
.layanan .title .acos {
  border-radius: 2px;
}
.layanan .title .iconw {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-size: 63%;
  background-color: #048946 !important;
  position: relative;
  left: -20px;
  height: 2px;
  width: 2px;
}
.layanan .pertama img {
  width: 100%;
}
.layanan .pertama .card {
  border-radius: 8px;
  border: 2px solid transparent;
  transition: all 0.3s;
}
.layanan .pertama a:hover .card {
  margin-top: -5px;
  margin-bottom: 5px;
  background-color: white;
  border-bottom: 2px solid gold;
}
.layanan .kedua {
  color: #03753c;
  border-radius: 8px;
  padding: 20px 40px 40px 40px;
}
.layanan .kedua img {
  width: 100px;
}
.layanan .kedua h6 {
  font-weight: bolder;
  font-size: 20px;
}
.layanan .kedua p {
  color: rgb(102, 102, 102);
  font-weight: 400;
  font-size: 14px;
}
.layanan .btn-lainya {
  border-radius: 50px;
  border: none;
  background-color: white !important;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  height: 42px;
  font-weight: bolder;
}
.layanan .btn-lainya .circle {
  position: relative;
  right: 110px;
  padding: 10px 12px;
  color: white;
  font-size: 11px;
  background-color: rgb(116, 128, 131);
  border-radius: 50%;
  transition: all 0.7s;
}
.layanan .btn-lainya .text {
  position: relative;
  color: rgb(102, 102, 102);
  transition: all 0.5s;
  right: 0px;
}
.layanan .btn-lainya:hover {
  background-color: #04a756 !important;
}
.layanan .btn-lainya:hover .text {
  color: white;
  right: 10px;
}
.layanan .btn-lainya:hover .circle {
  right: -263px !important;
  background-color: #04a756;
}

footer {
  padding-top: 40px;
  background-color: #03753c;
}
footer .fot-1 img {
  width: 130px;
}
footer .fot-1 h6 {
  font-size: 26px;
  font-weight: bolder;
  margin-bottom: 10px;
  text-transform: uppercase;
}
footer .fot-1 p.desc {
  text-align: justify;
  font-size: 13px;
  margin-bottom: 0px;
}
footer .fot-1 p.contact {
  font-size: 14px;
}
footer .list-group,
footer .list-group-item {
  background-color: transparent;
  border: none;
}
footer li {
  font-weight: bolder;
}
footer .list-1 {
  margin-bottom: -10px;
}
footer .fot-4 iframe {
  width: 100%;
  border-radius: 10px;
}
footer .footer-atas {
  padding-bottom: 20px;
  padding-top: 20px;
}
footer .footer-bawah {
  background-color: #036b37;
  opacity: 1;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .footer-bawah a {
  text-align: center;
  align-items: center;
  color: white;
  padding: 10px 12px;
  border-radius: 8px;
  margin-left: 2px;
  text-decoration: none;
}
footer .footer-bawah a ion-icon {
  font-size: 18px;
  text-align: center;
  margin-bottom: -2px;
}
footer .footer-bawah a:hover {
  background-color: #037a3f;
  color: rgb(255, 255, 255);
}
footer .fot-1,
footer .fot-2,
footer .fot-3,
footer .fot-4 {
  color: white !important;
}
footer .fot-1 li,
footer .fot-1 a,
footer .fot-2 li,
footer .fot-2 a,
footer .fot-3 li,
footer .fot-3 a,
footer .fot-4 li,
footer .fot-4 a {
  color: white !important;
}
footer .subcribe .card {
  position: relative;
  top: -90px;
  padding: 20px 10px 8px 10px;
  margin-bottom: -80px;
  border-radius: 10px;
  border: none;
}
footer .subcribe .card .icons {
  background-color: #EDEDED;
  border-radius: 10px;
  color: #000424;
  padding: 10px 12px;
  position: relative;
  top: 10px;
}
footer .subcribe .card .flex-grow-1 {
  margin-left: 20px;
}
footer .subcribe .card .flex-grow-1 h6 {
  margin-bottom: 0px;
  font-weight: bolder;
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(61, 61, 61);
}
footer .subcribe .card .flex-grow-1 p {
  font-size: 14px;
  color: rgb(102, 102, 102);
}
footer .subcribe .card .form-control {
  height: 50px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  border: 2px solid #e7e7e7;
}
footer .subcribe .card .form-control::placeholder {
  color: #999;
}
footer .subcribe .card .btn-subs {
  height: 40px;
  border-radius: 10px;
  background: linear-gradient(to right, #04a756, #05c062);
  color: white;
  top: 41px;
  right: 31px;
  font-size: 15px;
  position: absolute;
  transition: all 1s;
}
footer .subcribe .card .btn-subs span {
  transition: all 1s;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
footer .subcribe .card .btn-subs span:after {
  content: "\f1d8";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  opacity: 0;
  top: 0;
  right: 10px;
  transition: 0.5s;
  color: #ffffff;
  top: 1px;
  font-size: 13px;
}
footer .subcribe .card .btn-subs:hover span {
  padding-right: 20px;
}
footer .subcribe .card .btn-subs:hover {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15) !important;
}
footer .subcribe .card .btn-subs:hover span:after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width: 980px) {
  .mobile-nav, .mobile-menu {
    display: block;
  }
  header.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 2s;
    z-index: 99999 !important;
  }
  header.topbar .navbar-primary {
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: green !important;
    height: 70px;
    position: relative;
    top: -50px;
    background-color: white;
    z-index: 99999 !important;
  }
  header.topbar .navbar-primary .navbar-brand img {
    width: 180px !important;
  }
  header.topbar .navbar-secodary {
    position: relative;
    background-color: #03753c;
    height: 50px;
    top: 26px;
  }
  .mobile-nav {
    position: fixed;
    bottom: 30px;
    width: 64%;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
    z-index: 99999 !important;
  }
  .mobile-nav .card {
    background-color: rgb(22, 21, 21);
    border: none;
    padding: 14px 5px;
  }
  .mobile-nav .card .col a {
    color: white;
    background-color: #232121;
    border-radius: 8px;
    padding: 8px 10px;
    font-size: 19px;
  }
  .mobile-nav .card .col a:hover, .mobile-nav .card .col a:active, .mobile-nav .card .col a.active {
    background-color: #048e49;
  }
  .mobile-menu {
    position: fixed;
    background-color: white;
    top: 0;
    overflow: auto;
    left: 100%;
    z-index: 99989 !important;
    height: 100vh;
    width: 100%;
    transition: left 0.4s;
  }
  .mobile-menu.active {
    left: 0;
  }
  .mobile-menu .search {
    position: relative;
    background-color: #048e49;
    padding-top: 20px;
    padding-left: 26px;
    padding-right: 26px;
    width: 100%;
  }
  .mobile-menu .search .d-flex {
    padding-top: 60px;
  }
  .mobile-menu .search .d-flex .searchIcon {
    position: absolute;
    top: 95px;
    left: 45px;
    color: #6c757d !important;
  }
  .mobile-menu .search .d-flex .btn {
    color: white;
    font-size: 25px;
    margin-top: -8px;
  }
  .mobile-menu .search .d-flex .form-control {
    text-align: end;
    border: none;
    height: 36px;
    font-size: 11px;
    font-weight: 400;
  }
  .mobile-menu .content {
    background-color: #04a756;
  }
  .mobile-menu .content .list-group, .mobile-menu .content .list-group-item {
    color: white;
  }
  .mobile-menu .content .list-group, .mobile-menu .content .list-group-item, .mobile-menu .content-2 .list-group, .mobile-menu .content-2 .list-group-item {
    border: none;
    background-color: transparent;
  }
  .mobile-menu .content .linke, .mobile-menu .content-2 .linke {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .mobile-menu .content .linke .collapse .card, .mobile-menu .content-2 .linke .collapse .card {
    color: white;
    background-color: transparent;
  }
  .mobile-menu .content .linke .collapse .card .list-group-item, .mobile-menu .content-2 .linke .collapse .card .list-group-item {
    border: none;
    background-color: transparent;
    color: white;
  }
  .mobile-menu .footer-content {
    height: 30px;
    margin-top: 10px;
    background-color: black;
  }
  .mobile-menu .footer-content .d-flex {
    background-color: black;
  }
  .mobile-menu .footer-content .dropdown {
    background-color: black;
    color: white;
  }
  .mobile-menu .footer-content .dropdown .dropdown-toggle {
    color: white;
    text-decoration: none;
  }
  .mobile-menu .footer-content .dropdown img {
    width: 20px;
    border-radius: 9px;
    margin-top: -2px;
    margin-right: 5px;
  }
  .mobile-menu .footer-content .dropdown .dropdown-menu {
    background-color: #04a756;
    min-width: 10px !important;
    border: 3px solid white;
    margin-left: 10px;
    margin-top: -2px;
  }
  .mobile-menu .footer-content .dropdown .dropdown-menu li,
  .mobile-menu .footer-content .dropdown .dropdown-menu .dropdown-item {
    height: 20px;
    padding: 0px 5px !important;
    font-size: 12px !important;
    margin: -5px 0;
  }
  .mobile-menu .footer-content .dropdown .dropdown-menu li :hover,
  .mobile-menu .footer-content .dropdown .dropdown-menu .dropdown-item :hover {
    background-color: #04a756;
  }
  .mobile-menu .footer-content .dropdown .dropdown-menu li .dropdown-item {
    color: white !important;
  }
}
@media only screen and (max-width: 980px) {
  header.video-overlay {
    position: relative;
    top: 0;
  }
  header.video-overlay .neksik {
    margin-top: -100px;
  }
}
@media only screen and (max-width: 980px) {
  .about::before, .about::after {
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    display: none;
  }
  .about .photo {
    order: -1;
  }
  .about .photo-1 {
    border-radius: 10px;
    height: 270px;
    width: 100%;
    left: 0;
    position: relative;
    background-image: url("../img/a-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .about .photo-2 {
    display: none;
  }
  .about .info {
    margin-top: 50px;
    margin-bottom: 300px;
  }
  .about .info h2 {
    font-size: 34px;
    font-weight: bolder;
  }
  .about .info h6 {
    margin-top: 30px;
    font-size: 16px;
  }
  .about .info .btn {
    padding: 7px 20px;
    font-weight: bolder;
    font-size: 15px;
    color: rgb(90, 90, 90);
  }
  .about .info .btn .icon {
    transition: all 0.5s;
    margin-left: 3px;
    font-size: 14px;
  }
  .about .info .btn:hover {
    color: black;
  }
  .about .info .btn:hover .icon {
    margin-left: 9px;
  }
}
@media only screen and (max-width: 980px) {
  .penelitian .photo-1 {
    border-radius: 10px;
    height: 270px;
    width: 100%;
    left: 0px;
    position: relative;
    background-image: url("../img/pel-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .penelitian .photo-2 {
    display: none;
  }
  .penelitian .info {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .penelitian .info h2 {
    font-size: 34px;
    font-weight: bolder;
  }
  .penelitian .info h6 {
    margin-top: 30px;
    font-size: 16px;
  }
  .penelitian .info .btn {
    padding: 7px 20px;
    font-weight: bolder;
    font-size: 15px;
    color: rgb(90, 90, 90);
  }
  .penelitian .info .btn .icon {
    transition: all 0.5s;
    margin-left: 3px;
    font-size: 14px;
  }
  .penelitian .info .btn:hover {
    color: black;
  }
  .penelitian .info .btn:hover .icon {
    margin-left: 9px;
  }
}
@media only screen and (max-width: 980px) {
  .alumnikkn .card {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 980px) {
  .gurubesar .card-logo {
    border: none;
    border-radius: 0;
    position: relative;
    background: transparent;
    color: white;
    top: 0;
    width: 100%;
    margin-bottom: -10px;
  }
  .gurubesar .card-logo .card-body span {
    color: gold;
  }
  .gurubesar .card-logo img {
    display: none;
  }
  .gurubesar .card-logo h4 {
    font-size: 28px;
  }
  .gurubesar .card-logo h4.title {
    font-weight: bolder;
    font-size: 28px;
    text-transform: uppercase;
  }
  .gurubesar .card-logo p {
    margin-top: 10px;
    font-size: 13px;
    font-weight: bolder;
  }
  .gurubesar .card-lain {
    display: none;
  }
  .gurubesar .card-lain-mobile {
    display: block;
    position: relative;
    margin-top: -200px;
    margin-bottom: 50px;
  }
  .gurubesar .card-lain-mobile .card {
    background-color: transparent;
    border-radius: 2px;
    border: none;
    color: white;
    margin-top: 25px;
  }
  .gurubesar .card-lain-mobile .flex-grow-1 {
    margin-left: 10px !important;
    margin-bottom: -10px;
    padding: 14px 0 !important;
  }
  .gurubesar .card-lain-mobile .flex-grow-1 h6 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: -10px;
  }
  .gurubesar .card-lain-mobile .flex-grow-1 p {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
  }
  .gurubesar .card-lain-mobile .d-flex {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background: linear-gradient(to right, #037a3f, rgba(3, 117, 60, 0));
  }
  .gurubesar .card-lain-mobile .card-left {
    color: white;
    padding: 10px 25px;
    background: linear-gradient(60deg, rgb(255, 187, 0), gold);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .gurubesar .card-lain-mobile .card-left i {
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 980px) {
  .pengumuman {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f8f8f8;
  }
  .pengumuman .title .pengumumanLa {
    display: none !important;
  }
  .pengumuman .title .flex-grow-1 {
    text-align: center;
  }
  .pengumuman .title h4 {
    font-size: 20px;
    font-weight: bolder;
  }
  .pengumuman .title h4 span {
    background-color: #03753c;
    padding: 8px 20px;
    font-weight: 500;
    color: white;
  }
  .pengumuman .title h4 .acos {
    border-radius: 2px;
  }
  .pengumuman .title h4 .iconw {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-size: 63%;
    background-color: #048946 !important;
    position: relative;
    left: -20px;
    height: 2px;
    width: 2px;
  }
  .pengumuman .row {
    margin-top: 30px;
  }
  .pengumuman .row p {
    font-size: 12px;
    font-weight: 300;
    color: rgb(102, 102, 102);
  }
  .pengumuman .row h6 {
    margin-top: -10px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(0, 0, 0);
  }
  .pengumuman .row a {
    text-decoration: none;
  }
  .pengumuman .row .col {
    border-radius: 6px;
    height: 165px;
    cursor: pointer;
    padding: 30px 15px 30px 15px;
  }
  .pengumuman .row .col:hover {
    background-color: white;
    border-bottom: 4px solid gold;
  }
  .pengumuman .lainya-m {
    display: block;
    margin-top: 50px;
  }
  .pengumuman .lainya-m a {
    padding: 7px 20px;
    font-weight: 600;
    font-size: 14px;
    color: rgb(90, 90, 90);
    text-decoration: none;
  }
  .pengumuman .lainya-m a .icon {
    transition: all 0.5s;
    margin-left: 3px;
    font-size: 13px;
  }
  .pengumuman .lainya-m a:hover {
    color: black;
  }
  .pengumuman .lainya-m a:hover .icon {
    margin-left: 9px;
  }
}
@media only screen and (max-width: 980px) {
  .berita {
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #ffffff;
  }
  .berita .card {
    border: none;
    cursor: pointer;
  }
  .berita .title {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bolder;
    margin-bottom: 50px;
    text-align: center !important;
  }
  .berita .title span {
    padding: 8px 20px;
    background-color: #03753c;
    font-weight: 500;
    color: white;
  }
  .berita .title .acos {
    border-radius: 2px;
  }
  .berita .title .iconw {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-size: 63%;
    background-color: #048946 !important;
    position: relative;
    left: -20px;
    height: 2px;
    width: 2px;
  }
  .berita .post-lain {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }
  .berita .post-lain .card {
    height: 250px;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
  }
  .berita .post-lain .card:hover img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transform: scale(1.1);
  }
  .berita .post-lain .card:hover .card-body {
    background-color: #04a253;
    color: white;
  }
  .berita .post-lain .card:hover .card-body h6,
  .berita .post-lain .card:hover .card-body p {
    color: white !important;
  }
  .berita .post-lain .card .card-body {
    bottom: 0;
    position: absolute;
    transition: all 1s;
    background-color: white;
    color: black;
    z-index: 7;
    padding: 17px 20px 50px 20px;
    width: 100%;
  }
  .berita .post-lain .card p {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 7px;
    color: rgb(102, 102, 102);
  }
  .berita .post-lain .card h6 {
    font-size: 14px;
    font-weight: 600;
  }
  .berita .post-lain img {
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: all 0.5s;
    width: 100%;
  }
  .berita .post-lain img.agaklain {
    width: 100%;
  }
  .berita .post-lainya, .berita .post-1, .berita .post-2, .berita .post-3 {
    display: none;
  }
  .berita a {
    text-decoration: none;
    transition: all 0.5s;
  }
  .berita .lainya-m {
    display: block;
    margin-top: 50px;
  }
  .berita .lainya-m a {
    padding: 7px 20px;
    font-weight: 600;
    font-size: 14px;
    color: rgb(90, 90, 90);
    text-decoration: none;
  }
  .berita .lainya-m a .icon {
    transition: all 0.5s;
    margin-left: 3px;
    font-size: 13px;
  }
  .berita .lainya-m a:hover {
    color: black;
  }
  .berita .lainya-m a:hover .icon {
    margin-left: 9px;
  }
}
@media only screen and (max-width: 980px) {
  .layanan {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #f8f8f8;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.15) !important;
  }
  .layanan .title {
    text-align: center !important;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bolder;
    margin-bottom: 50px;
  }
  .layanan .title span {
    padding: 8px 20px;
    background-color: #03753c;
    font-weight: 500;
    color: white;
  }
  .layanan .title .acos {
    border-radius: 2px;
  }
  .layanan .title .iconw {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-size: 63%;
    background-color: #048946 !important;
    position: relative;
    left: -20px;
    height: 2px;
    width: 2px;
  }
  .layanan .pertama img {
    width: 100%;
  }
  .layanan .pertama .card {
    border-radius: 8px;
    border: 2px solid transparent;
    transition: all 0.3s;
  }
  .layanan .pertama a:hover .card {
    margin-top: -5px;
    margin-bottom: 5px;
    background-color: white;
    border-bottom: 2px solid gold;
  }
  .layanan .kedua {
    color: #03753c;
    border-radius: 8px;
    padding: 20px 40px 40px 40px;
  }
  .layanan .kedua img {
    width: 100px;
  }
  .layanan .kedua h6 {
    font-weight: bolder;
    font-size: 20px;
  }
  .layanan .kedua p {
    color: rgb(102, 102, 102);
    font-weight: 400;
    font-size: 14px;
  }
  .layanan .btn-lainya {
    border-radius: 50px;
    border: none;
    background-color: white !important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    height: 42px;
    font-weight: bolder;
  }
  .layanan .btn-lainya .circle {
    position: relative;
    right: 24%;
    padding: 10px 12px;
    color: white;
    font-size: 11px;
    background-color: rgb(116, 128, 131);
    border-radius: 50%;
    transition: all 0.7s;
  }
  .layanan .btn-lainya .text {
    position: relative;
    color: rgb(102, 102, 102);
    transition: all 0.5s;
    right: 0px;
  }
  .layanan .btn-lainya:hover {
    background-color: #04a756 !important;
  }
  .layanan .btn-lainya:hover .text {
    color: white;
    right: 10px;
  }
  .layanan .btn-lainya:hover .circle {
    right: -263px !important;
    background-color: #04a756;
  }
  .layanan .afen {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 980px) {
  footer {
    padding-top: 40px;
    background-color: #03753c;
  }
  footer .fot-1 img {
    width: 130px;
  }
  footer .fot-1 h6 {
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  footer .fot-1 p.desc {
    text-align: justify;
    font-size: 13px;
    margin-bottom: 0px;
  }
  footer .fot-1 p.contact {
    font-size: 14px;
  }
  footer .list-group,
  footer .list-group-item {
    background-color: transparent;
    border: none;
  }
  footer li {
    font-weight: bolder;
  }
  footer .list-1 {
    margin-bottom: -10px;
  }
  footer .fot-4 iframe {
    width: 100%;
    border-radius: 10px;
  }
  footer .footer-atas {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  footer .footer-bawah {
    background-color: #036b37;
    opacity: 1;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  footer .footer-bawah a {
    text-align: center;
    align-items: center;
    color: white;
    padding: 10px 5px;
    border-radius: 8px;
    text-decoration: none;
  }
  footer .footer-bawah a ion-icon {
    font-size: 18px;
    text-align: center;
    margin-bottom: -2px;
  }
  footer .footer-bawah a:hover {
    background-color: #037a3f;
    color: rgb(255, 255, 255);
  }
  footer .footer-bawah small {
    font-size: 11px;
  }
  footer .footer-bawah .social {
    text-align: end;
  }
  footer .fot-1,
  footer .fot-2,
  footer .fot-3,
  footer .fot-4 {
    color: white !important;
  }
  footer .fot-1 li,
  footer .fot-1 a,
  footer .fot-2 li,
  footer .fot-2 a,
  footer .fot-3 li,
  footer .fot-3 a,
  footer .fot-4 li,
  footer .fot-4 a {
    color: white !important;
  }
  footer .fot-1 {
    text-align: center;
  }
  footer .fot-1 .desc {
    text-align: center;
  }
  footer .fot-2 {
    margin-bottom: 20px;
  }
  footer .title {
    margin-bottom: 10px;
  }
  footer .subcribe .card {
    position: relative;
    top: -90px;
    padding: 20px 10px 8px 10px;
    margin-bottom: -80px;
    border-radius: 10px;
    border: none;
  }
  footer .subcribe .card .icons {
    background-color: #EDEDED;
    border-radius: 10px;
    color: #000424;
    padding: 10px 12px;
    position: relative;
    top: 10px;
  }
  footer .subcribe .card .flex-grow-1 {
    margin-left: 20px;
  }
  footer .subcribe .card .flex-grow-1 h6 {
    margin-bottom: 0px;
    font-weight: bolder;
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(61, 61, 61);
  }
  footer .subcribe .card .flex-grow-1 p {
    font-size: 13px;
    color: rgb(102, 102, 102);
  }
  footer .subcribe .card .form-control {
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid #e7e7e7;
  }
  footer .subcribe .card .form-control::placeholder {
    color: #999;
  }
  footer .subcribe .card .btn-subs {
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(to right, #04a756, #05c062);
    color: white;
    top: 114px;
    right: 31px;
    font-size: 15px;
    position: absolute;
    transition: all 1s;
  }
  footer .subcribe .card .btn-subs span {
    transition: all 1s;
    cursor: pointer;
    display: inline-block;
    position: relative;
  }
  footer .subcribe .card .btn-subs span:after {
    content: "\f1d8";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    opacity: 0;
    top: 0;
    right: 10px;
    transition: 0.5s;
    color: #ffffff;
    top: 1px;
    font-size: 13px;
  }
  footer .subcribe .card .btn-subs:hover span {
    padding-right: 20px;
  }
  footer .subcribe .card .btn-subs:hover {
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  footer .subcribe .card .btn-subs:hover span:after {
    opacity: 1;
    right: 0;
  }
  footer .asdc {
    align-items: center;
    text-align: center;
  }
}